*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--blue-12);
}
header{
    background: var(--gradient-23);
    color: var(--gray-0);
    padding: var(--size-5);
    font-size: var(--size-4);
    box-shadow: var(--shadow-3);
}
h1{
    width: var(--size-15);
}
h2{
    color: var(--gray-0);
    padding-top: var(--size-4);
    font-size: var(--size-px-6);
}
p{
    padding-top: var(--size-7);
    padding-bottom: var(--size-4);
    font-size: var(--size-4);
    color: var(--gray-0);
}
#paragrafo1{
    padding-bottom: var(--size-px-11);
}
img{
    width: var(--size-14);
    border-radius: var(--radius-blob-1);
    box-shadow: var(--shadow-4);
    animation: var(--animation-float);
}